/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html{
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	scroll-behavior: smooth;
}
body {
	background-color: var(--gray-color);

	overflow-x: hidden;
	margin: 0;
}
*, *:before, *:after{
	box-sizing: border-box;
}

/* mtb */
@font-face {
	font-family: "Bahnschrift";
	src: url("fonts/bahnschrift.ttf");
}
@font-face {
	font-family: "Franclin Gothic Regular";
	src: url("fonts/Franklin Gothic Regular.ttf");
}
@font-face {
	font-family: "Franclin Gothic Heavy";
	src: url("fonts/FRAHV.TTF");
}
:root {
	--blue-color: #76c7c0;
	--dark-text-blue-color: #6ab3ac;
	--pink-color: #f29999;
	--gray-color: #f4f2f3;
	--milk-color: #e7ff90;
	--white-color: #f5f6fd;
	--bahn: Bahnschrift;
}

.page-screen {
	height: 100vh;
	width: 100%;

	position: relative;
	background-color: transparent;
	z-index: 1;

	/*border: solid 2px blue;*/
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	height: 10vh;

}
.navbar {
	background-color: var(--blue-color);

	transition-duration: 1.1s;

	height: -webkit-fill-available;
}
.navbar:hover {
	transition-duration: .6s;
	background-color: var(--blue-color);
}
.navbar-brand {
	/*width: 10%;*/
}
.navbar-logo-image {
	width: 10%;
}
.collapse {
	justify-content: center;
}
.navbar-toggler {
	/*background-color: deeppink;*/
}
#cart-but:hover {
	background-color: var(--pink-color);
}
#nav-search-input {
	width: 175px;
	height: 30px;
}
.nav-item-list {
	width: 75%;
	display: flex;
	justify-content: center;
}
.nav-item-list {
	font-size: 20px;
	font-weight: bold;
}
.nav-text-area {
	border-radius: 10px;
	opacity: .7;
}
.myNavbarForm {
	justify-content: center;
}

.nav-menu {
	/*border: red solid 2px;*/
	/*display: block;*/
}
.nav-menu .menu-item {
	display: flex;
	justify-content: center;
	margin-right: 2rem;
}
.menu-item > a {
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
}
.current-menu-item > a{
	color: #fff;
}

/* BIGIMAGE-PART */
.big-image-part {
	/*border: solid 1px;*/
	/*background-color: yellow;*/
}
.bip-small-heading {
	height: 100%;
	width: 100%;

	position: absolute;
	top: 0;
	left: 15%;
	z-index: 50;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	font-size: 2rem;
	color: white;
	font-weight: 800;
}
.bip-big-heading {
	height: 80%;
	width: 80%;

	position: absolute;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.5rem;
	color: white;
	font-weight: 800;
	left: 15%;
}
#media-bip-big-heading {
	display: none;
}

.big-image-part-heading-block {
	width: 50%;
	height: 7rem;

	position: absolute;
	left: -5rem;
	bottom: 0;
}
.big-image-part-heading-back2 {
	height: inherit;
	width: 100%;

	position: absolute;

	background-color: #7c868a75;
	transform: skew(-30deg);
	-webkit-transform: skew(-30deg);
}

.bip-small-heading-block{
	width: 100%;
	height: 4.5rem;

	position: absolute;
	top: -35%;
	left: -5px;
}
.bip-small-heading-back{
	height: inherit;
	width: 100%;

	position: relative;

	background-color: var(--blue-color);
	border-radius: 10px;

	transform: skew(20deg);
	-webkit-transform: skew(30deg);
}

.categories-downloadCatalog-block {
	width: 15rem;

	position: absolute;
	top: -5rem;
	right: 0;
	z-index: 50;

	text-align: center;
}
.categories-downloadCatalog-heading {
	font-size: 25px;
	font-weight: 800;
	color: white;
}

/* CATEGORIES-PART */
.categories-part {
	height: auto;

	/*display: none;*/
}
.categories-container {}
.categories-row {
	display: flex;
	justify-content: space-evenly;
}
.category-block {

	height: 13em;

	padding: 0.5rem;
	margin-bottom: 3rem;
	margin-top: 3rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 10px;
	box-shadow: 8px 8px 20px 2px rgb(74 95 101 / 50%);
}
	.category-block-image-block {
		height: 80%;
		width: 100%;

		border: solid red 1px;
	}
	.category-block-text-block {
		height: 20%;
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		border: solid yellow 1px;
	}

#categoriesCanvas {
	position: absolute;
	top: 10rem;
	left: 20rem;

	width: 200px;
	height: 200px;
}
#categoriesBigCanvasRight {
	position: absolute;
	top: -10rem;
	right: 0;
	height: 105%;
	width: 25%;

	/*border: solid;*/
}
#categoriesBigCanvasLeft {
	position: absolute;
	bottom: -75%;
	left: 0;
	z-index: 90;

	height: 80rem;
	width: 45%;

	/*border: solid;*/
}
#incomesCanvas {
	position: absolute;
	top: -3rem;
	right: -3rem;

	width: 350px;
	height: 350px;

	/*border: solid ;*/
}
#ourWorksCanvas {
	position: absolute;
	bottom: 3rem;
	left: 2rem;

	width: 310px;
	height: 310px;

	/*border: solid ;*/
}

/* ADVANTAGES-PART */
.our-advantages-part {
	margin-top: 3rem;

	/*display: none;*/
}
.advantages-block {
	display: flex;

	height: 100%;
}
.advantages-block>div {
	height: 100%;

	position: relative;
}

.page-heading {
	font-size: 40px;
	font-weight: 800;
	color: white;
}
#advantages-heading {
	margin-top: -3rem;
}

.advantages-scheme-half{
	width: 57%;
}
	.heading-block {
		width: 100%;
	}
	.heading-container {
		padding: 1rem 3rem;
	}
	.circle-advantage-block {
		width: 14.5rem;
		height: 14.5rem;

		position: absolute;

		/*border: solid 1px black;*/
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.advantages-circle {
		width: 85%;
		height: 85%;
		border-radius: 100%;

		background-color: #d6d6d6;
	}
	.advantages-circle-heading {
		height: 15%;
		display: flex;
		align-items: center;
		font-size: 20px;
		font-weight: 800;
	}
	.advantages-img-block {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
	.advantages-img-block img {
	width: 70%;
	height: 80%;
}
	#circle-guarantee, #circle-checkout {
		left: 35%;
	}
	#circle-guarantee {top: 5%;}
	#circle-guarantee .advantages-img-block img {
		width: 60%;
		height: 55%;
	}
	#circle-checkout {bottom: 0;}
	#circle-checkout .advantages-img-block img {
		width: 65%;
		height: 45%;
	}

	#circle-certification, #circle-delivery {
		top: 35%;
	}
	#circle-certification {left: 10%}
	#circle-certification .advantages-img-block img {
		width: 55%;
		height: 65%;
	}
	#circle-delivery {right: 10%}
	#circle-delivery .advantages-img-block img {
		width: 55%;
		height: 55%;
	}

.advantages-form-half{
	/*border: solid darkgreen 2px;*/
	width: 43%;

	display: flex;
	align-items: center;
}
	.css-shapes-preview{
		position: relative;
		left: 5rem;
		height: 100%;
		width: 100%;
		padding: 0px;
		background-color: #f4f2f3;
		box-shadow: 6px 6px 20px 0px rgb(74 95 101 / 50%);
		border-radius: 2rem;
		transform: rotate(0deg) skew(10deg);
		-webkit-transform: rotate(0deg) skew(8deg);
	}
	.our-advantges-form-heading-block {
		height: 6rem;
		width: 100%;

		position: absolute;
		top: 0;

		display: flex;
		align-items: center;
		justify-content: center;
	}
		.our-advantges-form-heading-back {
			width: 100%;
			height: inherit;

			position: absolute;
			top: 0;
			left: 2.5rem;

			background-color: var(--blue-color);
			border-radius: 20px;
			box-shadow: 7px 3px 15px 0px rgb(74 95 101 / 50%);
			transform: skew(-30deg);
			-webkit-transform: skew(-30deg);
		}
		.our-advantges-form-heading {
			position: relative;
			left: 2rem;
			padding: 0 3rem;

			font-size: 1.5rem;
			font-weight: 800;
			text-align: center;
			color: white;
		}
	.our-advantages-form {
	position: absolute;
	top: 7rem;
	left: 30%;

	z-index: 10;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
	.form-input {
		height: 3.7rem;
		width: 23rem;

		padding: 1rem;
		margin-top: 1.7rem;

		background-color: #e1dee7;
		border: none;
		border-radius: 10px;
		outline: none;
		box-shadow: 9px 5px 10px 0px rgb(74 95 101 / 50%);
	}
	#form-but {
		align-self: flex-end;

		height: 3rem;
		width: 11rem;
		margin-top: 2rem;

		border: none;
		border-radius: 10px;

		outline: none;
		font-size: 20px;
		font-weight: 600;
		color: white;
		text-align: center;

		background-color: var(--blue-color);
		transition-duration: 1.2s;
	}
	#form-but:hover {
		transform: scale(1.1);
	}
	#form-input-textarea {
		resize: none;
	}

#incomes-heading-container {
	margin-left: 0;
}
#incomes-heading-container>.page-heading, #our-works-heading-container>.page-heading {
	color: black;
}

.advantages-scheme-gray-circle {
	position: absolute;
	top: 20%;
	left: 22%;

	width: 27rem;
	height: 27rem;

	border-radius: 360px;
	border: solid 5px gray;
}

/* INCOMES-PART */
.our-incomes-part {
	height: auto;

	z-index: 10;

	/*display: none;*/
}
.income-cards-block {
	position: relative;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0% 15% 0;
}
.income-card {
	width: 240px;
	height: 335px;

	padding: 0.5rem;

	box-shadow: 8px 8px 20px 2px rgb(74 95 101 / 50%);
	border-radius: 20px;

	/*border: solid black 2px;*/
}

.income-footer-block {
	width: 100%;

	display: flex;
}
	.income-left-text-block {
		width: 25%;
	}
		.income-left-text-container {
			font-size: 2.7rem;
			padding-left: 3rem;
			line-height: 1.2;
		}
		#income-row-2 {margin-left: 2%;}
		#income-row-3 {margin-left: 10%;}
		#income-row-4 {margin-left: 15%;}
	.income-right-text-block {
		display: flex;
		align-items: center;

		width: 75%;

		padding: 0 10%;
	}
		.income-right-text-style {
			text-align: center;
			font-size: 27px;
			color: #545b62;
		}

/* CHOOSE-US */
.choose-us-part {
	height: auto;
	margin-top: 10rem;

}
.choose-us-container {
	padding: 5rem 3rem;
	padding-right: 0;
}
	.choose-us-row {
		display: flex;
		justify-content: flex-end;
	}
		.choose-us-window {
			height: 24rem;
			width: 40rem;

			border-radius: 20px;
			box-shadow:  6px 6px 20px 0px rgb(74 95 101 / 50%);
		}
		#choose-us-gallery {
			width: 35rem;
		}
		#choose-us-text {
			position: relative;
			margin-left: 7rem;
		}

.choose-us-heading-block{
	height: 6rem;
	width: 100%;
	position: absolute;
	top: -3rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.choose-us-heading-back {
	width: 100%;
	height: inherit;
	position: absolute;
	top: 0;
	left: 4.5rem;
	background-color: #f2999961;
	border-radius: 15px;
	box-shadow: 7px 3px 15px 0px rgb(74 95 101 / 50%);
	transform: skew(-30deg);
	-webkit-transform: skew(-30deg);
}
.choose-us-heading {
	position: relative;
	left: 2rem;
	padding: 0 3rem;
	margin-left: 2rem;
	font-size: 2.3rem;
	font-weight: 800;
	text-align: center;
	color: white;
}

#choose-usBigCanvasLeft {
	position: absolute;
	top: -30rem;
	left: 0;
	z-index: -1;

	height: 75rem;
	width: 30%;

	/*border: solid;*/
}

/* OUR-WORKS */
.our-works-part {
	position: relative;

	/*display: none;*/
}
.our-works-window-block {
	width: 100%;

	padding: 5%;

	display: flex;
	justify-content: center;
}
.our-works-window {
	border: solid 2px transparent;
	border-radius: 30px;

	width: 75%;
	height: 500px;

	box-shadow: 6px 6px 20px 0px rgb(74 95 101 / 50%);
}
#our-works-heading-container {
	text-align: end;
	margin-right: 0;
}

/* OUR-CONTACTS */
.our-contacts-part {
	position: relative;

	margin-top: 7.5rem;

	/*display: none;*/
}

.our-contacts-container {
	padding: 5rem 3rem;
}
.our-contacts-row {
	display: flex;

	justify-content: space-between;
}
.our-contacts-window {
	position: relative;
	height: 35rem;
	width: 35rem;
}
	.our-contacts-map-block {
		width: 100%;
		height: 100%;

		padding: 1.8rem;
	}
		#google-map {
			width: 100%;
			height: 100%;
			border: 0;
		}
.our-contacts-heading-block {
	height: 6rem;
	width: 85%;

	position: absolute;
	top: -3rem;
	left: 2rem;
	z-index: 10;

	display: flex;
	align-items: center;
}
	.our-contacts-heading-back1 {
		width: 20%;
		height: inherit;

		position: absolute;
		z-index: 3;

		background-color: #daff91;
		border-radius: 10px;
	}
	.our-contacts-heading-back2 {
		width: 90%;
		height: inherit;

		position: absolute;
		top: 0;
		left: 1.5rem;

		background-color: #daff91;
		border-radius: 15px;
		transform: skew(-30deg);
		-webkit-transform: skew(30deg);
	}
	.our-contacts-heading {
		position: relative;
		left: 2rem;
		z-index: 10;

		font-size: 2.3rem;
		font-weight: 800;
		text-align: center;
		color: white;
		text-shadow: 3px 3px 5px rgba(239, 110, 110, 1);
	}
.our-contacts-form-back-1 {
	height: 100%;
	width: 60%;

	position: absolute;
	z-index: 5;

	background-color: var(--gray-color);
	box-shadow: 6px 6px 20px 0px rgb(74 95 101 / 50%);
	border-radius: 10px;
}
.our-contacts-form-back-2 {
	height: 100%;
	width: 60%;

	position: absolute;
	left: 12rem;
	z-index: 6;

	background-color: var(--gray-color);
	border-radius: 10px;
	box-shadow: 20px 7px 20px 0px rgb(74 95 101 / 50%);

	transform: skew(-15deg);
	-webkit-transform: skew(-15deg);
}
.social-icons-block {
	width: 4rem;

	position: absolute;
	z-index: 15;
	bottom: 2rem;
	left: -2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 1rem;
	background-color: #daff91;
}
	.social-icon {
		width: 100%;

		transition-duration: 1s;
	}
	.social-icon:hover {
	cursor: pointer;
	transform: scale(1.1);
}
		.social-icon img{
	width: 100%;
	height: 100%;
}


#our-contacts-empty-block {
	width: 35rem;
	height: 35rem;

	border-radius: 20px;
	box-shadow: 6px 2px 20px 0px rgb(74 95 101 / 50%);
}

#our-contactsBigCanvasRight {
	position: absolute;
	bottom: -37px;
	right: 0;
	z-index: -1;

	height: 87.5rem;
	width: 35%;

	/*border: solid;*/
}

/* FOOTER */
footer {
	width: 100%;

	display: flex;
	justify-content: center;

	position: relative;
	bottom: 0;
	z-index: 1;

	margin-bottom: 10px;
}
.footer-block {
	width: 75%;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.footer-block>div {
	text-align: center;

	font-size: 18px;
}
.footer-rights {
	/*border: solid green 2px;*/
}
.footer-contacts {
	/*border: solid blue 2px;*/
	display: flex;
	justify-content: space-evenly;
}
.footer-number-link, .footer-number-link:hover, .footer-email-link, .footer-email-link:hover {
	color: inherit;
	text-decoration: none;
}
.footer-number-link:hover, .footer-email-link:hover {
	transition: ease-in-out .3s;
	color: black;
}



/* MEDIA */

@media screen and (max-width: 375px ) {
	body {
		overflow-x: hidden;
	}

	/* HEADER*/
	.navbar-collapse.collapse.show {
		background-color: var(--blue-color);
	}
	.nav-item-list {
		align-items: center;
	}

	/*BIG-IMAGE*/
	.big-image-part {
		background-color: grey;
	}
	.big-image-part-heading-block {
		display: none;
	}
	#media-bip-big-heading {
		display: initial;
		position: absolute;
		width: 50%;
		height: 30%;
		right: 0;
		bottom: 0;
		left: initial;
		padding-right: 1.5rem;
	}

	/*CATEGORIES*/
	.categories-part {
		display: flex;
		flex-direction: column;
	}
	.categories-container {
		order: 2;
	}
	.downloadCatalog-block {
		order: 1;
	}
	.categories-downloadCatalog-heading {
		display: none;
	}

	.categories-row {
		display: none;
	}
	.categories-row:first-child {
		display: flex;
	}
	.category-block {
		width: 40%;
	}
	#categoriesCanvas {
		left: 0;
	}
	#categoriesBigCanvasRight,  #categoriesBigCanvasLeft{
		display: none;
	}

	/*OUR-ADVANTAGES*/
	.our-advantages-form {
		height: 90%;
		width: 75%;

		justify-content: space-evenly;
	}
	.form-input {
		height: 2rem;
		width: 14rem;
		margin-top: 0;

	}
	textarea.form-input {
		padding: 0.5rem;
	}
	.our-advantages-form, .css-shapes-preview {
		height: 22.5rem;
	}

	.advantages-block {
		flex-direction: column;
	}
	.advantages-scheme-half, #form-half {
		width: auto;
	}
	.advantages-form-half, #form-half {
		display: flex;
		justify-content: center;
	}
	.our-advantges-form-heading-block {
		display: none;
	}
	.css-shapes-preview {
		width: 75%;
		left: 0;
	 	transform: none;
		-webkit-transform: none;
    }
	.our-advantages-form {
		top: 1rem;
		left: initial;
	}
	.advantages-circle {
		width: 70%;
		height: 70%;

		box-shadow: 6px 7px 20px 0px;
	}
	.scheme-block {
		display: flex;
		flex-flow: row wrap;
	}
	.circle-advantage-block {
		width: 50%;
		height: 11rem;
		position: relative;
	}
	#form-but {
		align-self: initial;
		margin-top: 0;


	}

	#circle-guarantee, #circle-checkout {
		left: 0;
	}
	#circle-certification {
		left: 0;
	}
	#circle-delivery {
		right: 0;
	}
	#advantages-heading>.heading-container {
		padding: 1rem;
	}
	#advantages-heading>.heading-container>.page-heading {
		color: black;
	}

	.advantages-scheme-gray-circle {
        display: none;
    }

	/*CHOOSE-US-PART */
	.choose-us-part {
		/*display: none;*/

		margin-top: 5rem;
	}
	.choose-us-heading-back {
		display: none;
	}
	#choose-us-gallery {
		display: none;
	}
	#choose-us-text {
		margin-left: 0;
	}
	.choose-us-container {
		padding-right: initial;
		padding: 5rem 2rem;
	}
	.choose-us-window {
		height: 20rem;
		width: 100%;
	}

	.choose-us-heading-block {
		top: -7rem;
		justify-content: center;
	}
	.choose-us-heading {
		left: 0;
		margin-left: 0;

		padding: 0;

		font-size: 2rem;
	}

    /* OUR-INCOMES*/
	.our-incomes-part {
		margin-top: 7.5rem;
	}
	.income-left-text-block {
		display: none;
	}
	.income-right-text-block {
		width: auto;
	}
	#incomesCanvas {
		display: none;
	}

	.income-right-text-style {
		font-size: 20px;
	}
	.income-cards-block {
		overflow: hidden;
		padding: 10% 5%;

		padding-top: 0;
	}
	.income-card {
		background-color: whitesmoke;
		margin-left: -60%;
		z-index: 4;

		height: 275px;
		width: 50%;

		overflow: hidden;
	}
	.income-card:first-child {
		margin-left: 0;

		z-index: 5;
	}
	.income-card:last-child {
		z-index: 3;
	}

	.income-card:first-child, .income-card:hover {
		overflow: visible;
	}
	.income-card { flex-shrink: 0}

	/* OUR-WORKS*/
	.our-works-part {
		display: flex;
		flex-direction: column;
	}
	.our-works-window-block {
		order: 1;
	}
	#our-works-heading-container {
		padding: 1rem 2rem;
		text-align: center;
	}
	#incomes-heading-container {
		padding: 1rem;
	}
	#incomes-heading-container>.page-heading {
		font-size: 30px;
	}
	#ourWorksCanvas {
		display: none;
	}
	.our-works-window {
		height: 300px;
	}

	/* OUR-CONTACTS */
	.our-contacts {
		/*border: solid 2px blue;*/
	}
	.our-contacts-form-back-1 {
		width: 100%;
	}
	.our-contacts-form-back-2 {
		display: none;
	}
	#our-contacts-empty-block {
		display: none;
	}

	.our-contacts-heading-block {
		height: 6rem;
		width: 100%;
		position: absolute;
		top: -7rem;
		left: 0;
		z-index: 10;
		display: flex;
		align-items: center;

		display: flex;
		justify-content: center;
	}
	.our-contacts-heading-back1 {
		display: none;
	}
	.our-contacts-heading-back2 {
		display: none;
	}
	.our-contacts-heading {
		left: auto;
		font-size: 2rem;

		color: black;
		text-shadow: none;
	}

	/* FOOTER */
	.footer-block {
		flex-direction: column;
	}
}

@media screen and (max-width: 360px) {
	.contacts-logo-heading {
		font-size: 60px;
	}

	.contacts-logo-upheading {
		font-size: 20px;

		text-align: center;
	}
}

.cards {
	display: flex;
	align-content: center;
	max-width: 35em;
}
.cardWrapper {
	overflow: hidden;
}
.cardWrapper:first-child, .cardWrapper:hover {
	overflow: visible;
}
.card {
	width: 10em;
	min-width: 10em;
	height: 6em;
	border-radius: 0.5em;
	border: solid #666 1px;
	background-color: #ccc;
	padding: 0.25em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}